/* MAIN CONTAINER */
.contact-container {
  display: flex;
  gap: 30px;
  padding: 50px 20px;
  background: linear-gradient(180deg, #ffffff, #ffffff, #e0c3fb);
  min-height: 100vh;
}

/* LEFT SIDE */
.contact-left {
  flex: 1;
  color: #2d006e;
}

.contact-left h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.contact-left p {
  margin-bottom: 25px;
}

/* INFO BOX */
.contact-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-item {
  background: linear-gradient(135deg, #c9c2f1, #ba9af7,#c9c2f1);
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.1);
}

.contact-item h3 {
  margin-bottom: 5px;
  color: #5d09a2;
}
.contact-item p {
  /* margin-bottom: 5px; */
  color: #153b71;
}

/* RIGHT SIDE */
.contact-right {
  flex: 1.3;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* FORM */
.contact-form {
  background: linear-gradient(135deg, #7934d2, #997bf2);
  padding: 25px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: white;
}

.contact-form h2 {
  text-align: center;
}

.contact-form input,
.contact-form textarea {
    background: #ede8f7;
  padding: 10px;
  border: none;
  border-radius: 8px;
  outline: none;
}

.contact-form button {
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(135deg, #630ce6, #630ce6);
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.contact-form button:hover {
  background: #ffffff;
  color: #000000;
}

/* MAP */
.map-box {
  height: 300px;
  border-radius: 15px;
  overflow: hidden;
}

.map-box iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/* 📱 MOBILE */
@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
  }
}